<head>
  <script src="jquery.min.js"> </script>
  
  <script>
    var vs_json
    $.getJSON('verses.json',function(data){
	vs_json = data
    })
    function search_change(form_name){
	$("."+form_name+"_verse_check").hide()
	$( "."+form_name+"_check" ).prop( "checked", false );
	$("#"+form_name+"_all").hide()
	var p = $("#"+form_name+"_select")[0].value
        if (!p){
            return
        }   
	$("#"+form_name+"_all").show()
	vs_json[form_name+'s'][p-1].forEach(function(v_num){
	    $("#"+form_name+"_verse_check_"+v_num).show()
	})
	
    }
    function enable_all(form_name){
        var p = $("#"+form_name+"_select")[0].value
        if (!p){
            return
        }
        var v = {"psalm":"PV","hymn":"HV"}[form_name]
	vs_json[form_name+'s'][p-1].forEach(function(v_num){
	    $("#"+v+v_num).prop("checked",true)
	})
	$("#"+form_name+"_form").submit()
    }
    function checkbox_change(form_name){
	nocheckbox_checked=$('input[type="checkbox"][class="'+form_name+'_check"]:checked').length==0
	$("#"+form_name+"_submit").prop('disabled',nocheckbox_checked)		
    }
    var photo_list = {{photo_list|tojson|safe}}
    var current_index =0
    function change_img(incr){
	max_index=photo_list.length -1
	next_index = current_index + incr
	if(next_index<=0){
	    next_index = 0
	    $('#prev_butt').prop('disabled',true)
	}else{
	    $('#prev_butt').prop('disabled',false)
	}
	if(next_index>=max_index){
	    next_index = max_index
	    $('#next_butt').prop('disabled',true)
	}else{
	    $('#next_butt').prop('disabled',false)
	}
	$("#photo"+current_index+"_div").hide()
	current_index = next_index
	$("#photo"+current_index+"_div").show()

    }

    document.addEventListener('keydown', function(e) {
        switch (e.keyCode) {
        case 37:
            change_img(-1)
            break;
        case 39:
            change_img(1)
            break;
        }
    });
    ;
  </script>
  <style>
    #everything {
	width:90%;
	position:absolute;
	bottom:0;
	left:5%;
	
    }
    .hymn_verse_check,.psalm_verse_check{
	display:inline-block;
	width:4em;
    }
    #song-container {
	padding-top:75%;
	width:100%;
	position:relative;
    }

    #song-border {
	margin-top:30px;
	margin-bottom:30px;
	border-style: solid;
	border-color: black;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
    }
    h1.song-title{
	height:5%;
	text-align:center;
    }
    .verselistnotcurrent{
        color : grey;
    }
    img{
	margin:auto;
	height:80%;
	display:block;
	max-width:95%;
	object-fit: contain;
    }
  </style>
</head>
<title>Setup</title>

<table id="liturgy table">
  {% for s in liturgy %}
  <tr>
    <td>
      {{s['song']}}:
    </td>
    <td>
      {% for v in s['verses'] %}
      {{v}}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
<button onclick="location.href='clear_liturgy'">Clear Liturgy</button>
<table>

  <tr>
    <form id="psalm_form" action="add_song">
      <td>
	<input id="psalm_submit" type="submit" value="Add Psalm" disabled>
      </td>
      <td>
	Psalm <input name="psalm_number" type="text" min="1" max="150" id="psalm_select" oninput="search_change('psalm')">
      </td>
      <td><input id="psalm_all" type="button" value="All" style="display: none;" onclick="enable_all('psalm')"></td>
      <td>
	{% for n in range(1,67) %}
	<div id="psalm_verse_check_{{n}}" class="psalm_verse_check" style="display: none;" >
	  <label for="PV{{n}}">V{{n}}</label>
	  <input class="psalm_check" type="checkbox" id="PV{{n}}" name="PV{{n}}" onchange="checkbox_change('psalm')">
	</div>
	{% endfor %}
      </td>
    </form>
  </tr>
  <tr>
    <form id="hymn_form" action="add_song">
      <td>
	<input id="hymn_submit" type="submit" value="Add Hymn" disabled>
      </td>
      <td>
	Hymn <input name="hymn_number" type="" min="1" max="150" id="hymn_select" oninput="search_change('hymn')">
      </td>
      <td><input id="hymn_all" type="button" value="All" style="display: none;" onclick="enable_all('hymn')"></td>
      <td>
	{% for n in range(1,67) %}
	<div id="hymn_verse_check_{{n}}" class="hymn_verse_check" style="display: none;">
	  <label for="HV{{n}}">V{{n}}</label>
	  <input class="hymn_check" type="checkbox" id="HV{{n}}" name="HV{{n}}" onchange="checkbox_change('hymn')">
	</div>
	{% endfor %}
      </td>
    </form>
  </tr>
</table>
{% if photo_list|length  %}
<button id="prev_butt" onclick="change_img(-1)">Previous [←] </button>
<button id="next_butt" onclick="change_img(1)">Next [→]</button>
<div id="song-container">
  <div id="song-border">
    {% endif %}
    {% for photo in photo_list %}
    <div id=photo{{loop.index-1}}_div {% if loop.index != 1 %}hidden {% endif %}>
      <H1 class="song-title">{{photo['title']}}
        <span class="verselistnotcurrent">{{photo['verselistbefore']}}</span>
        <span class="verselistcurrent">{{photo['verselistcurrent']}}</span>
        <span class="verselistnotcurrent">{{photo['verselistafter']}}</span>
      </H1>
      <img id="lyrics{{loop.index-1}}" src={{photo['path']}}>
      
    </div>
    {% endfor %}
  </div>
</div>
